<div class="uk-container">

<div style="margin-top: 5%;" class="uk-card uk-card uk-light">
    <h1 class="uk-text-center ">Entrar</h1>

    <form class="uk-form uk-form-stacked uk-border-rounded">
      <div class="uk-margin ">
        <label for="email">Email</label>
        <input class="" type="email" id="email" class="uk-input" required>
      </div>

      <div class="uk-margin">
        <label for="password">Password</label>
        <input type="password" id="password" class="uk-input" required>
      </div>

      <div class="uk-margin uk-text-center">
        <button type="submit" class="uk-button uk-button-primary">Login</button>
      </div>
    </form>
  </div>

</div>
