<script src="uikit/dist/js/uikit-icons.min.js"></script>


<div class="uk-container">
<div style="margin-top: 10%; " class="uk-child-width-expand@s uk-text-center uk-flex uk-flex-between uk-grid-match " uk-grid>
    <div styles="padding-right: 50%; padding-left: 50%;" class="">
        <div style="margin-right: 10%;" class="uk-card uk-card-secondary uk-card-body uk-border-rounded">
            <a routerLink="/tv" class="uk-icon-link" uk-icon="icon: play; ratio: 3.5"></a>
            <p><a routerLink="/tv" class="uk-icon-link" uk-icon="">ASSISTIR TV</a></p>
        </div>
    </div>
    <div>
        <div style="margin-right: 10%;" class="uk-card uk-card-secondary uk-card-body uk-border-rounded">
            <a routerLink="/gestao" class="uk-icon-link" uk-icon="icon: cog; ratio: 3.5"></a>
            <p><a routerLink="/gestao" class="uk-icon-link" uk-icon="">GERENCIAR EMISSÃO</a></p>
        </div>
    </div>


    <div>
        <div style="margin-right: 10%;" class="uk-card uk-card-secondary uk-card-body uk-border-rounded">
            <a routerLink="/conta" class="uk-icon-link" uk-icon="icon: user; ratio: 3.5"></a>
            <p><a routerLink="/conta" class="uk-icon-link" uk-icon="">USUÁRIOS </a></p>
        </div>
    </div>
</div>
</div>