/* You can add global styles to this file, and also import other style files */

body {
    background-size: cover;
    background-position: center;
    background-image: url('https://wallpaperset.com/w/full/d/d/5/189423.jpg');
    height:100vh;
    font-family: 'Courier New', Courier, monospace;
  }


